.label a {
	color: inherit;
}

.mon-taglist, .mon-taskdescription {
	margin-bottom: 0
}

.mon-taskdescription {
	white-space: pre-line;
}

.mon-taskname {
	margin: 0;
}

.fullwidth {
	 width: 100%
}

input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

table.mon-auditlog td {
	vertical-align: top
}

.mon-auditlog-event {
	margin-top: 1em
}

td.mon-field {
	font-weight: bold;
	white-space: nowrap;
}

#alerts {
	position: fixed;
	width: 98%;
	z-index: 10000;
	margin: 1%;
	overflow: hidden;
}

#alerts .alert-box.ng-enter {
	opacity:0;
	left: -100%;
}

#alerts .alert-box.ng-enter-active {
	transition:0.2s linear all;
	opacity:1;
	left: 0;
}

#alerts .alert-box.ng-leave {
	animation:0.5s alert_closed;
}

@keyframes alert_closed {
  from { opacity:1; left: 0%; }
  to { opacity:0; left: 100% }
}

.tabs {
	top: 1px;
	position: relative;
}

.tabs .tab-title.active a {
	font-weight: bold
}

.tabs .tab-title {
	border: solid silver;
	border-width: 1px 0px 1px 1px;
}

.tabs .tab-title.active {
	border-bottom-color: #ffffff;
}

.tabs .tab-title:last-of-type {
	border-width: 1px;
}

.tabs-content {
	padding: 1rem;
	border: 1px solid silver;
	background-color: #ffffff;
	margin-top: 0px;
}

td>ul:last-child {
	margin-bottom: 0px;
}

.f-dropdown li.active {
	background-color: #EFEFEF
}
