.label a {
	color: inherit;
}

.mon-taglist, .mon-taskdescription {
	margin-bottom: 0
}

.mon-taskdescription {
	white-space: pre-line;
}

.fullwidth {
	 width: 100%
}

input.ng-invalid.ng-touched {
	background-color: #FA787E;
}