<div ng-controller="AuditLogCtrl">
    <div class="row">
        <div class="columns small-6">
            <label>From <date-picker ng-model="from" not-after="until" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
        <div class="columns small-6">
            <label>Until <date-picker ng-model="until" not-before="from" not-after="today" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
    </div>

    <div class="row">
    	<div class="columns large-12">
    		<h4>{{ count }} events</h4>
    	</div>
    </div>

    <div class="row" ng-if="pages.length > 1">
    	<div class="columns large-12">
    		<div class="pagination-centered">
    			<ul class="pagination">
    				<li ng-repeat-start="page in pages" ng-show="(page > (currentpage - 5)) && (page < (currentpage + 5)) || page == 0 || page == pages.length - 1" ng-class="{current: page == currentpage}"><a href="" ng-click="$parent.$parent.currentpage = page">{{page + 1}}</button></li>
                    <li ng-repeat-end ng-if="(page == 0 && currentpage > 5) || (page == pages.length - 2 && currentpage < pages.length - 6)" class="unavailable"><a href="">&hellip;</a></li>
    			</ul>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="columns large-12">
            <table class="fullwidth mon-auditlog">
              <thead>
                <tr>
                    <th width="250">Date</th>
                    <th ng-if="!taskId">Task</th>
                    <th>Event</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat-start="event in auditlog">
                        <td>{{event['@timestamp'] | formatDateTime}}</td>
                        <td ng-if="!taskId"><a href="#/tasks/{{event.task}}">{{tasks[event.task].name}}</a></td>
                        <td style="white-space: nowrap">
                            <a href="" style="display: block"  ng-click="event.show = !event.show">
                                <span ng-show="event['@status']" class="right label {{event['@status']}}">{{event['@status']}}</span>
                                <span ng-switch="event['@type']">
                                    <span ng-switch-when="moneta-task-created">Creation</span>
                                    <span ng-switch-when="moneta-task-updated">Update</span>
                                    <span ng-switch-when="moneta-task-deleted">Deletion</span>
                                    <span ng-switch-when="moneta-task-execution">Execution</span>
                                    <span ng-switch-when="moneta-task-report">Execution Report</span>
                                </span>
                            </a>
                        </td>
                  </tr>
                  <tr ng-if="event.show" ng-repeat-end>
                      <td colspan="3">
                          <div ng-include="'templates/events/' + event['@type'] + '.html'"></div>
                      </td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-if="pages.length > 1">
    	<div class="columns large-12">
    		<div class="pagination-centered">
    			<ul class="pagination">
    				<li ng-repeat-start="page in pages" ng-show="(page > (currentpage - 5)) && (page < (currentpage + 5)) || page == 0 || page == pages.length - 1" ng-class="{current: page == currentpage}"><a href="" ng-click="$parent.$parent.currentpage = page">{{page + 1}}</button></li>
                    <li ng-repeat-end ng-if="(page == 0 && currentpage > 5) || (page == pages.length - 2 && currentpage < pages.length - 6)" class="unavailable"><a href="">&hellip;</a></li>
    			</ul>
    		</div>
    	</div>
    </div>
</div>
