<div ng-controller="AuditLogCtrl">
    <div class="row">
        <div class="columns small-6">
            <label>From <date-picker ng-model="from" not-after="until" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
        <div class="columns small-6">
            <label>Until <date-picker ng-model="until" not-before="from" not-after="today" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
        <div class="columns small-12">
            <label>Severity level</label>
            <span class="label" style="margin-right: 1rem; cursor: pointer;" ng-class="{'{{level}}': levelfilter[level], 'secondary': !levelfilter[level]}" ng-repeat="(level,caption) in levels_map" ng-click="enableFilter(levelfilter, level, $event)" title="Click to select one value, ctrl+click to select multiple values.">{{caption}} ({{0 + levels[level]}})</span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
        <div class="columns small-12">
            <label>Record type</label>
            <span class="label" style="margin-right: 1rem; cursor: pointer;" ng-class="{'{{type}}': typefilter[type], 'secondary': !typefilter[type]}" ng-repeat="(type,caption) in types_map" ng-click="enableFilter(typefilter, type, $event)" title="Click to select one value, ctrl+click to select multiple values.">{{caption}} ({{0 + types[type]}})</span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
        <div class="columns small-12">
            <h4>{{count.value}} results</h4>
        </div>
    </div>

    <div class="row" ng-show="pages > 1">
    	<div class="columns large-12">
            <div
                paging
                class="pagination-centered"
                page="currentpage"
                total="pages"
                ul-class="pagination"
                active-class="current"
                disabled-class="unavailable"
                paging-action="currentpage = page">
            </div>
    	</div>
    </div>

    <div class="row">
    	<div class="columns large-12">
            <table class="fullwidth mon-auditlog">
              <thead>
                <tr>
                    <th style="width: 15em">Date</th>
                    <th style="min-width: 20em">Event</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat-start="event in auditlog">
                        <td>{{event['@timestamp'] | formatDateTime}}</td>
                        <td>
                            <a href="" style="display: block"  ng-click="event.show = !event.show">
                                <span ng-show="event['@level']" class="right label {{event['@level']}}">{{ levels_map[event['@level']] }}</span>
                                <span style="font-weight: bold">{{ types_map[event['event_type']] }}</span>
                                <span ng-show="!taskId">({{tasks[event.task].name}})</span>
                            </a>
                        </td>
                  </tr>
                  <tr ng-if="event.show" ng-repeat-end>
                      <td colspan="3">
                          <div ng-include="'templates/events/' + event['event_type'] + '.html'"></div>
                      </td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="pages > 1">
    	<div class="columns large-12">
            <div
                paging
                class="pagination-centered"
                page="currentpage"
                total="pages"
                ul-class="pagination"
                active-class="current"
                disabled-class="unavailable"
                paging-action="currentpage = page">
            </div>
    	</div>
    </div>
</div>
