<div ng-controller="AuditLogCtrl">
    <div class="row">
        <div class="columns small-6">
            <label>From <date-picker ng-model="from" not-after="until" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
        <div class="columns small-6">
            <label>Until <date-picker ng-model="until" not-before="from" not-after="today" autohide="true" format="yyyy-MM-dd"></date-picker></label>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1rem">
        <div class="columns small-3 radius">
            <div class="switch small left" style="margin-right: 0.7rem;">
                <input id="level_switch_info" type="checkbox" ng-model="levelfilter.info">
                <label for="level_switch_info"></label>
            </div>
            <h5>Info ({{ 0 + levels.info }})</h5>
        </div>
        <div class="columns small-3 radius">
            <div class="switch small left" style="margin-right: 0.7rem;">
                <input id="level_switch_success" type="checkbox" ng-model="levelfilter.success">
                <label for="level_switch_success"></label>
            </div>
            <h5>Success ({{ 0 + levels.success }})</h5>
        </div>
        <div class="columns small-3 radius">
            <div class="switch small left" style="margin-right: 0.7rem;">
                <input id="level_switch_warning" type="checkbox" ng-model="levelfilter.warning">
                <label for="level_switch_warning"></label>
            </div>
            <h5>Warning ({{ 0 + levels.warning }})</h5>
        </div>
        <div class="columns small-3 radius">
            <div class="switch small left" style="margin-right: 0.7rem;">
                <input id="level_switch_alert" type="checkbox" ng-model="levelfilter.alert">
                <label for="level_switch_alert"></label>
            </div>
            <h5>Alert ({{ 0 + levels.alert }})</h5>
        </div>
    </div>

    <div class="row" ng-show="pages > 1">
    	<div class="columns large-12">
            <div
                paging
                class="pagination-centered"
                page="currentpage"
                total="pages"
                ul-class="pagination"
                active-class="current"
                disabled-class="unavailable"
                paging-action="currentpage = page">
            </div>
    	</div>
    </div>

    <div class="row">
    	<div class="columns large-12">
            <table class="fullwidth mon-auditlog">
              <thead>
                <tr>
                    <th style="width: 15em">Date</th>
                    <th ng-if="!taskId">Task</th>
                    <th style="min-width: 20em">Event</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat-start="event in auditlog">
                        <td>{{event['@timestamp'] | formatDateTime}}</td>
                        <td ng-if="!taskId"><a href="#/tasks/{{event.task}}/view">{{tasks[event.task].name}}</a></td>
                        <td style="white-space: nowrap">
                            <a href="" style="display: block"  ng-click="event.show = !event.show">
                                <span ng-show="event['@level']" class="right label {{event['@level']}}">{{event['@level']}}</span>
                                <span ng-switch="event['@type']">
                                    <span ng-switch-when="moneta-task-created">Creation</span>
                                    <span ng-switch-when="moneta-task-updated">Update</span>
                                    <span ng-switch-when="moneta-task-deleted">Deletion</span>
                                    <span ng-switch-when="moneta-task-execution">Execution</span>
                                    <span ng-switch-when="moneta-task-report">Execution Report</span>
                                </span>
                            </a>
                        </td>
                  </tr>
                  <tr ng-if="event.show" ng-repeat-end>
                      <td colspan="3">
                          <div ng-include="'templates/events/' + event['@type'] + '.html'"></div>
                      </td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="pages > 1">
    	<div class="columns large-12">
            <div
                paging
                class="pagination-centered"
                page="currentpage"
                total="pages"
                ul-class="pagination"
                active-class="current"
                disabled-class="unavailable"
                paging-action="currentpage = page">
            </div>
    	</div>
    </div>
</div>
