<div>
		<ul class="breadcrumbs">
			<li><a dropdown-toggle="#mainmenu" aria-controls="mainmenu" aria-expanded="false">Moneta</a></li>
		    <li ng-repeat="step in steps" ng-class="{current: $last}" ng-switch="$last || !!step.abstract">
		      <a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
		      <span ng-switch-when="true">{{step.ncyBreadcrumbLabel}}</span>
		    </li>
		</ul>
		<ul id="mainmenu" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
			<li><a href="#/tasks">Tasks</a></li>
			<li><a href="#/cluster">Cluster</a></li>
			<li><a href="#/auditlog">Audit Log</a></li>
		</ul>
</div>
