<div class="row">
	<div class="large-12 columns">
		<h3>Leader</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		The leader node is <strong>{{ ::cluster.leader }}</strong>.
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Nodes</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="fullwidth">
			<thead>
					<th>Node</th>
					<th>Address</th>
					<th>Pools</th>
					<th>Running Processes</th>
			</thead>
			<tbody>
				<tr ng-repeat="(node, details) in cluster.nodes">
					<td><a ng-href="#/cluster/node/{{ ::node }}">{{ ::node }} <span ng-if="details.status.leader" class="fas fa-star"></span></a></td>
					<td>{{ ::details.address }}</td>
					<td><span ng-repeat="pool in details.pools">{{ ::pool }}<span ng-if="!$last">, </span></span></td>
					<td>{{ details.status.running_processes | keyLength }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Running Processes</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="fullwidth">
			<thead>
					<th>Node</th>
					<th>Task</th>
					<th>Started</th>
					<th>Last known duration</th>
			</thead>
			<tbody>
				<tr ng-repeat="process in processes">
					<td>{{ ::process.node }}</td>
					<td><a ng-href="#/tasks/{{ ::process.task }}/view">{{ ::tasks[process.task].name }}</a></td>
					<td>{{ ::process.start_time | fromNow }}</td>
					<td>
						<div ng-if="!!executionsummary[process.task]">
							{{ executionsummary[process.task].duration | formatDuration }}
						</div>
						<div ng-if="!executionsummary[process.task]">
							<i>Not executed yet</i>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
