<div class="row">
    <div class="columns small-6">
        <label>From <date-picker ng-model="from" callback="fetchLog" not-after="until" autohide="true" format="yyyy-MM-dd"></date-picker></label>
    </div>
    <div class="columns small-6">
        <label>Until <date-picker ng-model="until" callback="fetchLog" not-before="from" autohide="true" format="yyyy-MM-dd"></date-picker></label>
    </div>
</div>

<table class="fullwidth mon-auditlog">
  <thead>
    <tr>
        <th width="250">Date</th>
        <th>Event</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="event in auditlog">
            <td>{{event['@timestamp'] | formatDateTime}}</td>
            <td>
                <a href="" style="display: block"  ng-click="event.show = !event.show">
                    {{event['@type']}} <span ng-show="event['@status']" class="right label {{event['@status']}}">{{event['@status']}}</span>
                </a>
                <div class="mon-auditlog-event" ng-show="event.show" ng-include="'templates/events/' + event['@type'] + '.html'"></div>
            </td>
      </tr>
  </tbody>
</table>
