<div class="row">
	<div class="large-10 columns">
		<input type="text" ng-model="filter" placeholder="Filter">
	</div>

	<div class="large-2 columns">
		<a class="button split tiny expand" ng-class="{'split': !(templates &amp;&amp; ( templates.length ) == 0)}" href="#/tasks/new">
			Add New
			<span dropdown-toggle="#template-list" ng-if="!(templates &amp;&amp; ( templates.length ) == 0)"></span>
		</a>

		<ul id="template-list" class="f-dropdown">
			<li ng-repeat="task in templates = (tasks | taskhastag:'template')">
				<a ng-href="#/tasks/new/{{ ::task.id }}">{{ ::task.name }}</a>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<ul class="tabs">
	        <li class="tab-title" ng-class="{active: tagfilter == '!template'}" ><a href="" ng-click="tagfilter = '!template'">Tasks ({{(filtered | taskhastag:'!template').length}})</a></li>
	        <li class="tab-title" ng-class="{active: tagfilter == 'template'}" ><a href="" ng-click="tagfilter = 'template'">Templates ({{(filtered | taskhastag:'template').length}})</a></li>
	    </ul>
		<div class="tabs-content">
			<div class="pagination-centered" ng-if="(filtered | taskhastag:tagfilter | paginate:tasksperpage).length > 1">
				<ul class="pagination">
					<li ng-class="{current: page == currentpage}" ng-repeat="page in filtered | taskhastag:tagfilter | paginate:tasksperpage"><button ng-click="changePage(page)">{{page + 1}}</button></li>
				</ul>
			</div>

			<table class="fullwidth">
				<thead>
					<tr>
						<th>Name</th>
						<th>Pools</th>
						<th ng-if="tagfilter != 'template' && plugins.executionsummary">Last execution</th>
						<th ng-if="tagfilter != 'template'">Enabled</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="task in filtered = (tasks | taskfilter:filter) | taskhastag:tagfilter | offset:currentpage*tasksperpage | limitTo: tasksperpage">
						<td>
							<h4 class="mon-taskname"><a ng-href="#/tasks/{{::task.id}}/view">{{::task.name}}</a></h4>
							<p class="mon-taglist"><span ng-repeat="tag in task.tags"><a href="" ng-click="addFilter('tag:' + tag)"><span class="radius label">{{::tag}}</span></a> </span></p>
							<p class="mon-taskdescription">{{::task.description}}</p>
						</td>
						<td><span ng-repeat="pool in task.pools">{{ ::pool }}<span ng-if="!$last">, </span></span> ({{ ::task.mode }})</td>
						<td ng-if="tagfilter != 'template' && plugins.executionsummary">
							<div ng-if="!!executionsummary[task.id]">
								<span -tooltip aria-haspopup="true" class="has-tip" title="{{ executionsummary[task.id].start_time | formatDateTime }} -> {{ executionsummary[task.id].end_time | formatDateTime }} (Duration {{ executionsummary[task.id].duration | formatDuration }})">{{ executionsummary[task.id].start_time | fromNow }}</span>
								({{ executionsummary[task.id].status }})
							</div>
							<div ng-if="!executionsummary[task.id]">
								Not executed yet
							</div>
						</td>
						<td ng-if="tagfilter != 'template'">
							<div class="switch round small">
								<input id="enabled-{{ ::task.id }}" type="checkbox" ng-model="task.enabled" ng-click="enableTask(task)">
								<label for="enabled-{{ ::task.id }}"></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination-centered" ng-if="(filtered | taskhastag:tagfilter | paginate:tasksperpage).length > 1">
				<ul class="pagination">
					<li ng-class="{current: page == currentpage}" ng-repeat="page in filtered | taskhastag:tagfilter | paginate:tasksperpage"><button ng-click="changePage(page)">{{page + 1}}</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
