<h3>Processes</h3>
<div class="row">
	<div class="large-12 columns">
		<a class="button split" ng-click="executeTask(false)">
			Execute Task
			<span dropdown-toggle="#execution-menu"></span>
		</a>

		<ul id="execution-menu" class="f-dropdown">
			<li><a ng-click="executeTask(true)">Forced execution (Ignore concurrency limit)</a></li>
		</ul>
	</div>
</div>
<div class="row">
		<div class="large-12 columns">
		<table class="fullwidth">
			<thead>
				<th>Node</th>
				<th>Started</th>
				<th>Process ID</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="(processid, process) in running_processes">
					<td><a ng-href="#/cluster/node/{{ ::process.node }}">{{ ::process.node }}</a></td>
					<td>{{ ::process.start_time | formatDateTime }} ({{ ::process.start_time | fromNow }})</td>
					<td>{{ ::processid }}</td>
					<td><button class="button tiny" style="margin: 0" ng-click="killProcess(processid)">Kill</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
