<div>
    <h5><strong>Execution Report</strong> - <a href="#/tasks/{{event.task}}/view">{{event.task_name}}</a></h5>
</div>

<table class="fullwidth" style="table-layout: fixed">
    <thead>
        <tr>
            <th style="width: 15em">Field</th>
            <th>Value</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td class="mon-field">Status</td>
            <td>{{event['status']}}</td>
        </tr>
        <tr>
            <td class="mon-field" width="1">Start time</td>
            <td>{{event['start_time'] | formatDateTime}}</td>
        </tr>
        <tr>
            <td class="mon-field" width="1">End time</td>
            <td>{{event['end_time'] | formatDateTime}}</td>
        </tr>
        <tr>
            <td class="mon-field" width="1">Duration</td>
            <td>{{event['duration'] | formatDuration}}</td>
        </tr>
        <tr>
            <td class="mon-field" width="1">Node</td>
            <td>{{event['node']}}</td>
        </tr>
        <tr>
            <td class="mon-field" width="1">Return code</td>
            <td>{{event['returncode']}}</td>
        </tr>
        <tr ng-if="event['stdout']">
            <td class="mon-field" width="1">Standard output</td>
            <td>
                <pre style="overflow: auto; max-height: 20em;">{{event['stdout']}}</pre>
            </td>
        </tr>
        <tr ng-if="event['stderr']">
            <td class="mon-field" width="1">Standard error output</td>
            <td>
                <pre style="overflow: auto; max-height: 20em;">{{event['stderr']}}</pre>
            </td>
        </tr>
    </tbody>
</table>
